In [1]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath('..'))

from ingestion.images_parser import extract_text
from extraction.parameter_extraction import extract_parameters
from models.parameter_interpreter import ParameterInterpreter

# CONFIG
IMAGE_PATH = "/home/quasar_011/Developer/v_intern/data/sample/BLR-0425-PA-0041374_E-REPORT_250427_1413@E.pdf_page_2.png" # Point to one of your Bajaj images
REF_RANGES = "/home/quasar_011/Developer/test/validation/reference_ranges.json"

# 1. Ingestion
print(f"Reading: {IMAGE_PATH}")
raw_text = extract_text(IMAGE_PATH)
print("--- OCR Raw Text ---")
print(raw_text[:300])

# 2. Extraction
print("\n--- Extracted Parameters ---")
data = extract_parameters(raw_text)
df = pd.DataFrame(data)
display(df)

# 3. Model 1: Interpretation
print("\n--- Model 1 Analysis ---")
interpreter = ParameterInterpreter(REF_RANGES)
analyzed_data = interpreter.analyze(data)
df_analyzed = pd.DataFrame(analyzed_data)
display(df_analyzed)

Reading: /home/quasar_011/Developer/v_intern/data/sample/BLR-0425-PA-0041374_E-REPORT_250427_1413@E.pdf_page_2.png
--- OCR Raw Text ---
Diagnostics S.No.     UT UTUTAOO UA AAA    MR No.      Pe
Patient i                      IPDNo                   Ty
ee                          EE
: Dr. Pawan Kumar Bansal                     Reporting Date        : 26-Apr-2025 06:39 AM
AMCARE HOSPITAL
Test                                    a i

--- Extracted Parameters ---

,Parameter,Value,Unit,Range
0,ee EE Dr. Pawan Kuma...,39.0,AM,Unavailable
1,HB L,11.3,gm/dl,13.0-17.0 ...
2,TLC ...,16.3,/cumm,4.0-11.0 ...
3,DLC ...,74.0,%,45-70 ...
4,MONOCYTE,6.0,%,2-10 ...
5,PLATELET COUNT,201.0,/cumm,150-450 ...
6,RBC COUNT,4.1,million,4.0-5.5 ...
7,cells/cumm HCT ...,34.0,%,40-50 ...
8,MCV,83.2,fl,82-102 ...
9,MCH,27.5,picogram,27-33 ...
10,MCHC,33.1,g/dl,31.5-34.5 ...
11,RDW H,15.1,%,11.5-14.5 ...

--- Model 1 Analysis ---

,Parameter,Value,Unit,Range,Standard_Name,Standard_Unit,Status,Flag
0,ee EE Dr. Pawan Kuma...,39.0,AM,Unavailable,ee EE Dr. Pawan Kuma...,AM,Normal,Range Unavailable
1,HB L,11.3,gm/dl,13.0-17.0 ...,HB L,gm/dl,Abnormal,Low (Ref: 13.0-17.0 ...
2,TLC ...,16.3,/cumm,4.0-11.0 ...,TLC ...,/cumm,Abnormal,High (Ref: 4.0-11.0 ...
3,DLC ...,74.0,%,45-70 ...,Neutrophils,%,Abnormal,High
4,MONOCYTE,6.0,%,2-10 ...,MONOCYTE,%,Normal,Within Limits (Ref: ...
5,PLATELET COUNT,201.0,/cumm,150-450 ...,Platelet Count,/cumm,Abnormal,Low
6,RBC COUNT,4.1,million,4.0-5.5 ...,RBC Count,mill/cumm,Abnormal,Low
7,cells/cumm HCT ...,34.0,%,40-50 ...,cells/cumm HCT ...,%,Abnormal,Low (Ref: 40-50 ...
8,MCV,83.2,fl,82-102 ...,MCV,fL,Normal,Within Limits
9,MCH,27.5,picogram,27-33 ...,MCH,pg,Normal,Within Limits
10,MCHC,33.1,g/dl,31.5-34.5 ...,MCHC,g/dL,Normal,Within Limits
11,RDW H,15.1,%,11.5-14.5 ...,RDW,%,Abnormal,High