In [2]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath('..'))

from ingestion.images_parser import extract_text
from extraction.parameter_extraction import extract_parameters
from models.parameter_interpreter import ParameterInterpreter

# CONFIG
IMAGE_PATH = "/home/quasar_011/Developer/v_intern/data/sample/sample.png" # Point to one of your Bajaj images
REF_RANGES = "/home/quasar_011/Developer/test/validation/reference_ranges.json"

# 1. Ingestion
print(f"Reading: {IMAGE_PATH}")
raw_text = extract_text(IMAGE_PATH)
print("--- OCR Raw Text ---")
print(raw_text[:300])

# 2. Extraction
print("\n--- Extracted Parameters ---")
data = extract_parameters(raw_text)
df = pd.DataFrame(data)
display(df)

# 3. Model 1: Interpretation
print("\n--- Model 1 Analysis ---")
interpreter = ParameterInterpreter(REF_RANGES)
analyzed_data = interpreter.analyze(data)
df_analyzed = pd.DataFrame(analyzed_data)
display(df_analyzed)

Reading: /home/quasar_011/Developer/v_intern/data/sample/sample.png
--- OCR Raw Text ---
loot Report
N                                                                      K.P. Patil Building,
SHREE  DIAGNOSTIC                Near Shivaji Maharaj Statue,
“am      ©. 7 A¥ ee ame weve CD        :                             Mohopada, Tal. Khalapur,
VTA           y.%
CLINICAL: LABORATORY;

--- Extracted Parameters ---

,Parameter,Value,Unit,Range
0,am .,7.0,A¥,Unavailable
1,Hemoglobin,12.1,gm/dl,13.0-17.0
2,Packed Cell Volume (HCT),42.5,%,40-50
3,R.B.C. Count,4.9,mill/cmm,4.5-5.5
4,Mean Cell Volume(MCV),86.7,fl,83-101
5,Mean Cell Hemoglobin( MCH),24.7,pe,27-33
6,Mean Cell Hb Conc(MCHC),28.5,%,32 -38
7,Total WBC Count,13600.0,cells/cumm,4000-11000
8,Monocytes,6.0,%,0-10
9,Absolute Monocytes Count,816.0,/cumm,200-1000
10,Platelet Count,502000.0,cells/cumm,Unavailable
11,pnts,3.0,,Unavailable

--- Model 1 Analysis ---

,Parameter,Value,Unit,Range,Standard_Name,Status,Flag
0,am .,7.0,A¥,Unavailable,Am .,Normal,Range Unavailable
1,Hemoglobin,12.1,gm/dl,13.0-17.0,Hemoglobin,Abnormal,Low
2,Packed Cell Volume (HCT),42.5,%,40-50,PCV,Normal,Within Limits
3,R.B.C. Count,4.9,mill/cmm,4.5-5.5,RBC Count,Normal,Within Limits
4,Mean Cell Volume(MCV),86.7,fl,83-101,MCV,Normal,Within Limits
5,Mean Cell Hemoglobin( MCH),24.7,pe,27-33,MCH,Abnormal,Low
6,Mean Cell Hb Conc(MCHC),28.5,%,32 -38,MCHC,Abnormal,Low
7,Total WBC Count,13600.0,cells/cumm,4000-11000,Total WBC,Abnormal,High
8,Monocytes,6.0,%,0-10,Monocytes,Normal,Within Limits
9,Absolute Monocytes Count,816.0,/cumm,200-1000,Absolute Monocytes Count,Normal,Range Unavailable
10,Platelet Count,502000.0,cells/cumm,Unavailable,Platelet Count,Abnormal,High
11,pnts,3.0,,Unavailable,Pnts,Normal,Range Unavailable